<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas</title>
</head>
<body>
    <h1>Notas</h1>
    <form method="GET" action="{{ url_for('grades') }}">
        <label for="school_year">Ano:</label>
        <input type="text" id="school_year" name="school_year" value="{{ year }}">
        <br>
        <label for="semester">Semestre:</label>
        <input type="text" id="semester" name="semester" value="{{ semester }}">
        <br>
        <button type="submit">Buscar</button>
    </form>
    <h1>Boletim</h1>
    <p>Aluno: {{ profile_data.nome }}</p>
    <p>Ano: {{ year }}</p>
    <p>Semestre: {{ semester }}</p>

    <table>
        <thead>
            <tr>
                <th>Disciplina</th>
                <th>Número de Faltas</th>
                <th>Nota Etapa 1</th>
                <th>Nota Etapa 2</th>
                <th>Nota Etapa 3</th>
                <th>Nota Etapa 4</th>
                <th>Média Final</th>
                <th>Situação</th>
            </tr>
        </thead>
        <tbody>
            {% if grades_data %}
                {% for grade in grades_data %}
                <tr>
                    <td>{{ grade.disciplina }}</td>
                    <td>{{ grade.numero_faltas }}</td>
                    <td>{{ grade.nota_etapa_1.nota if grade.nota_etapa_1.nota else 'Não Definido' }}</td>
                    <td>{{ grade.nota_etapa_2.nota if grade.nota_etapa_2.nota else 'Não Definido' }}</td>
                    <td>{{ grade.nota_etapa_3.nota if grade.nota_etapa_3.nota else 'Não Definido' }}</td>
                    <td>{{ grade.nota_etapa_4.nota if grade.nota_etapa_4.nota else 'Não Definido' }}</td>
                    <td>{{ grade.media_final_disciplina if grade.media_final_disciplina else 'Não Definido' }}</td>
                    <td>{{ grade.situacao }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="8">Nenhuma nota encontrada para o período selecionado.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <a href="{{ url_for('index') }}">Voltar para a página inicial</a>
</body>
</html>
