<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <style>
        .card-img-top img-fluid {
            max-width: 150px;
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <h1>Meu Perfil</h1>
    
    <!-- Exibindo a foto de perfil -->
    {% if profile_data %}
        <img src="{{ profile_data.url_foto_150x200 }}" class="card-img-top img-fluid" alt="Foto de Perfil">
    {% else %}
        <p>Foto de perfil: não disponível.</p>
    {% endif %}
    
    <p>Nome: {{ profile_data['name'] }}</p>
    <p>Email: {{ profile_data['email'] }}</p>
    <p>Outras informações: {{ profile_data['other_info'] }}</p>
    
    <a href="{{ url_for('index') }}">Voltar para a página inicial</a>
    <a href="{{ url_for('grades') }}">Ver Notas</a>
</body>
</html>
